/* Inclusión de nueva fuente */
@font-face {
    font-family: 'Albertus';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AlbertusMTStd.woff') format('woff');
}

/* Estilos generales */
body{
    font-family: 'Albertus', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/wood-background.jpg');
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

/* Estilos encabezado */
header{
    position: fixed;
    z-index: 99;
    background-color: #2C3E50;
    width: 100%;
}
.header-top{
    display: flex;
}
header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #F1C40F;
}
header nav{
    display: flex;
    justify-content: space-around;
}
.container-logo{
    width: 70%;
}
.container-login-carrito{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.container-login-carrito a{
    display: flex;
    align-items: center;
}
#numeroProductos{
    background-color:#E67E22;
    color: #2C3E50;
    padding: 0 .25rem;
    border-radius: .15rem;
    margin-left: 1rem;
}
#logotext{
    font-size: 34px;
}

/* Estilos main */
main{
    width: 75%;
    background-color: #F5F5DC;
    margin: auto;
    padding-bottom: 3em;
    padding-top: 4.5em;
    
}
/* Estilo básico para el Slider*/
#gallery {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.gallery-item img {
    width: 100%;
    display: block;
}
 /* Navegación del Slider */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
}
.nav-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-button:hover {
background-color: #005f5f;
}

/* Estilos galeria de productos */
.container-ofertas, .container-destacados{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-titulo{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 75px;
    font-size: 2rem;
    text-align: center;
}
.producto-item{
    padding: 0.5em;
    background-color: #34495E;
    margin-bottom: 1em;
}
.producto-imagen{
    width: 200px;
    height: 200px;
}
.producto-detalle{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    color: #F1C40F;
    font-size: 1.2rem;
}
.producto-precio{
    align-self: flex-end;
}
.boton-agregar{
    border: 3px solid #E67E22;
    padding: 0.5em;
    margin-top: 1em;
    background-color: #E67E22;
    
    font-size: .9rem;
    cursor: pointer;
    font-family: inherit;
}
.boton-agregar:hover{
    background-color: #2C3E50;
    color: #E67E22;
}

/* Estilos pie de pagina */
footer{
    background-color: #2C3E50;
}
.footer-container{
    width: 80%;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    color: #F5F5DC;
}
footer div, iframe{
    padding: 1em 0;
}
.footer-item{
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.footer-item fieldset{
    display: flex;
    flex-direction: column;
}
.footer-item fieldset input, textarea{
    margin-bottom: 1em;
    font-family: 'Albertus', sans-serif;
}
.footer-item fieldset button{
    width: 25%;
    align-self: flex-end;
    padding: .25em;
    border: 2px solid #E67E22;
    border-radius: 1em;
    background-color: #E67E22;
    font-family: 'Albertus', sans-serif;
    color: #2C3E50;
}
.footer-item fieldset button:hover{
    background-color: #2C3E50;
    color: #E67E22;
}
.item-mid{
    border-right: 2px solid #008CBA;
    border-left: 2px solid #008CBA;
}
#derechos{
    text-align: center;
    font-size: small;
    color: #F5F5DC;
}


/** LOGIN **/
.login-titulo{
    
    margin-left: 3rem;
    margin-bottom: 1em;
}
.section-login{
    width: 50%;
    margin: auto;
}
.container-formulario{
    padding: 1em;
    background-color: #34495E;
}
.container-formulario form{
    display: flex;
    flex-direction: column;
}
.item-formulario{
    padding: .5em 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color:#F5F5DC
}
#boton-login{
    grid-column-end: 3;
    width: 50%;
    margin: auto;
    margin-top: .5em;
    border: 3px solid #E67E22;
    background-color: #E67E22;
    color: #2C3E50;
    font-family: 'Albertus', sans-serif;
    padding: .5em;
    border-radius: 1em;
}
#boton-login:hover{
    background-color: #2C3E50;
    color:#E67E22;
}


/** PRODUCTOS **/
.contenedor{
    display: flex;
    flex-direction: row;
}
#titulo-principal{
    margin-left: 3rem;
    margin-bottom: 1em;
}
#filtros{
    position: sticky;
    margin-top: 6em;
    left: 10em;
    padding: 0 2em;
    background-color:#2C3E50;
    height: fit-content;
    top: 100px;
}
#filtros li{
    margin: 2em 0;
    list-style: none;
    color: white;
}
.boton-filtro{
    border: 0;
    font-size: 1.2em;
    font-family: 'Albertus', sans-serif;
    width: 100%;
    background-color:#E67E22;
    padding: 0.25em;
    cursor: pointer;
}
.section-productos{
    width: 75%;
    margin: auto;
}
.container-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}


/** CARRITO **/
.carrito-titulo, .carrito-vacio, .carrito-comprado{
    margin-left: 3rem;
}
.carrito-section{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.lista-atributos{
    border-bottom: 4px solid #008CBA;
}
.carrito-tabla{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: .5em;
    align-items: center;
    justify-items: center;
}
.carrito-item{
    background-color: rgba(0, 0, 0 , .2);
    border-bottom: 2px solid #008CBA;
    font-size: 1.25rem;
}
.producto-img{
    max-width: 100%;
}
.producto-quitar{
    cursor: pointer;
}
.carrito-botones{
    margin: 2.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.botones-izquierda{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.botones-derecha{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(0, 0, 0 , .2);
    border-radius: 2em;
}
.carrito-total{
    display: flex;
    margin: 0 1em;
    gap: .25em;
}
.carrito-boton{
    border: 5px solid #E67E22;
    border-radius: 2em;
    background-color: #E67E22;
    padding: .25em 1em;
    font-family: 'Albertus', sans-serif;
    color: #2C3E50;
    text-transform: uppercase;
}
.carrito-boton a{
    text-decoration: none;
    color: #34495E
}
.carrito-boton a:hover{
    color: #E67E22;
}
.carrito-boton:hover{
    background-color: #2C3E50;
    color: #E67E22;
}
.deshabilitado{
    display: none;
}